/* Grid styles */
:root {
  --color-background: #E7E9F0;
  --max-width: 80rem;
  --max-content-width: 45rem; // 720px

  --container-margins:1.25rem;
}

/*
/// Composition of Abstract container object:
╭────────────────────────────────╮
│Browser                         │
│  ╭──────────────────────────╮  │
│  │Page                      │  │
│  │╭────────────────────────╮│  │
│  ││Section                 ││  │
│  ││                        ││  │
│  ││                        ││  │
│  ││                        ││  │
│  │╰────────────────────────╯│  │
│  │╭────────────────────────╮│  │
│  ││Section                 ││  │
│  ││                        ││  │
│  ││                        ││  │
│  ││                        ││  │
│  │╰────────────────────────╯│  │
│  ╰──────────────────────────╯  │
╰────────────────────────────────╯

/// Composition of Structured container object:
╭────────────────────────────────╮
│Section                         │
│  ╭──────────────────────────╮  │
│  │Header                    │  │
│  ╰──────────────────────────╯  │
│  ╭──────────────────────────╮  │
│  │main                      │  │
│  │                          │  │
│  │                          │  │
│  │                          │  │
│  │                          │  │
│  │                          │  │
│  │                          │  │
│  ╰──────────────────────────╯  │
│  ╭──────────────────────────╮  │
│  │Footer                    │  │
│  ╰──────────────────────────╯  │
╰────────────────────────────────╯

/// Composition of Post
╭────────────────────────────────╮
│Section                         │
│  ╭──────────────────────────╮  │
│  │Header                    │  │
│  ╰──────────────────────────╯  │
│  ╭──────────────────────────╮  │
│  │main                      │  │
│  │╭────────────────────────╮│  │
│  ││content                 ││  │
│  ││╭──────────────────────╮││  │
│  │││component             │││  │
│  │││                      │││  │
│  │││                      │││  │
│  │││                      │││  │
│  ││╰──────────────────────╯││  │
│  │╰────────────────────────╯│  │
│  │╭────────────────────────╮│  │
│  ││component               ││  │
│  ││                        ││  │
│  ││                        ││  │
│  ││                        ││  │
│  │╰────────────────────────╯│  │
│  ╰──────────────────────────╯  │
│  ╭──────────────────────────╮  │
│  │Footer                    │  │
│  ╰──────────────────────────╯  │
╰────────────────────────────────╯
*/
///
/// the .page class denotes a page element that contains the whole page in a site.
/// These pages are meant to contain the entire screen and generally don't
/// contain the menu/header of a site. Pages stack on top of one another
/// in the z-axis. presentation/dissapearing can be customized using transition
/// variables to achieve smooth AJAX loading of successive pages in a site.
.page { // pages are vertically organized;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    width: auto;
    height:auto;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    overflow: scroll;
    z-index: 1000;
    width: auto;
    background-color: var(--color-background);

    border-radius: 1.5rem;

    // User .page.no-scroll to place a page as a direct child of a
    // page in when you want to give it special padding and avoid un desirable
    // over scroll performance.
    &.no-scroll {
      position:relative;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      height: auto;
      overflow: unset;
    }

    box-shadow: var(--color-background) 0px 0px 0px 100px;
}

/// .section
///
/// Sections represent vertical divisions of a webpages. This is a container
/// element that can also be embedded in other elements with almost identical
/// behaviour.
.section, section { //
    display:block;
    // flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width:auto;
    height:auto;
    min-width: 100%;

    // debug:
    // background-color: orange;

    // padding to give the design some space to breath.
    // padding: 0px 1.5rem;
    &.sticky {
      position: sticky;
      z-index: 1000;
      top: 0;
    }
    &.stack {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &.stack-horizontal {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }
    &.stack.reverse { flex-direction: column-reverse; }
    &.stack-horizontal.reverse { flex-direction: row-reverse; }


}

/* Direct Children are limited to a max width of 1280px or 80rem. */
.section.stack > *, .section.stack.reverse > *,
section.stack  > *, section.stack.reverse  > * {
  max-width: 80rem;
}

/**
  Containers
*/

/// Containers contain content, this may seem obvious, but they are meant to
/// keep content within the rails of the design's grid. Pages and sections don't
/// horizontally keep content within, this gives objects placed within them
/// naturally wide canvas to adopt. Containers then come in to keep things in
/// line.


/// main
///
/// Main is the main section. Inside of the page are elements, usually content
/// and containers. Main holds the primary content, the header, the post body,
/// and any footer associated with a post or page. It may be better to replace main when
/// performing AJAX replacements.
main {
    display: block;
    position: relative;
    width: auto;
    box-sizing: border-box;

    display:flex;
    justify-content:center;
}


/// header
///
/// Header sits above main, has the header stuff for a post or page.
/// It sits before content.
header {
  display: block;
  position: relative;
  width: 100%;
}

/// footer
///
/// Footer sits below main, has the header stuff for a post or page.
/// It sits before content.
footer {
  display: block;
  position: relative;
  width: 100%;
}

/// content
///
/// content is placed within main and is placed after a header. It constitutes
/// the content of a page. A blog post, a page. Etc... sometimes there is a
/// sidebar that accompanies a page, this is placed as a sibling to content
/// within main. content is where structured content goes, things that a CMS
/// spits out.
content {
  display: block;
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
  padding: 0rem 1.25rem;
}

/// .container
///
/// Generic Container for content. Uses standard paddings and stuff for content
.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
  padding: 0rem 1.25rem;
  overflow-y: hidden;

  /// positioning
  .centered {
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-s);
  }

  .left-aligned {
    margin-left: var(--space-s);
  }

  .right-aligned {
    margin-right: var(--space-s);
  }
}

:root {
    --columns: 16;
    --gutter: 20;
    --gutter-half: calc( var(--gutter) / 2);
    // --column: 60; //  this is a calculated number
    // --total-width: 1280;
    --total-width: 960;
}

@mixin generate-column($name, $number) {
  --#{$name}-columns: calc( ( ((var(--total-width) / var(--columns)) * #{$number} ) - var(--gutter) ) / var(--total-width) * 100% );
  --#{$name}-columns-no-gutter: calc( ( ((var(--total-width) / var(--columns)) * #{$number} ) - 0 ) / var(--total-width) * 100% );
}

:root {
    // (((1280/16) - 20) / 1280)
    @include generate-column(one,       1);
    @include generate-column(two,       2);
    @include generate-column(three,     3);
    @include generate-column(four,      4);
    @include generate-column(five,      5);
    @include generate-column(six,       6);
    @include generate-column(seven,     7);
    @include generate-column(eight,     8);
    @include generate-column(nine,      9);
    @include generate-column(ten,      10);
    @include generate-column(eleven,   11);
    @include generate-column(twelve,   12);
    @include generate-column(thirteen, 13);
    @include generate-column(fourteen, 14);
    @include generate-column(fifteen,  15);
    @include generate-column(sixteen,  16);

    --half-gutter: calc( (var(--gutter-half) / var(--total-width) ) * 100% );
}

// generate column classes for the values above
$columns: (
 one:       1,
 two:       2,
 three:     3,
 four:      4,
 five:      5,
 six:       6,
 seven:     7,
 eight:     8,
 nine:      9,
 ten:      10,
 eleven:   11,
 twelve:   12,
 thirteen: 13,
 fourteen: 14,
 fifteen:  15,
 sixteen:  16
);

@mixin generate-column-classes {
  @each $name, $value in $columns {
    // do stuff
    .#{$name}-columns {
      width: 100%;
      max-width: var(--#{$name}-columns);
    }
    .#{$name}-columns-no-gutter {
      width: 100%;
      max-width: var(--#{$name}-columns-no-gutter);
    }
  }
}

@include generate-column-classes;
