// Import Littel
@import './node_modules/littel/src/scss/littel.scss';
// @import './node_modules/littel/dist/css/littel.css';

// import local styles
@import 'base/grid';
  // .page, .section, header, main, content, footer, .container
@import 'base/typeface';
@import 'base/typography';
@import 'base/breakpoints';

@import 'colors';

// components
@import 'components/header';
@import 'components/post';
@import 'components/content';
@import 'components/post-card';
@import 'components/list';

:root {
    // --f-0-min:  20;    //  20px
    // --f-0-max:  25;    //  25px

    --fc-m-min: 10;
    --fc-m-max: 20;
}

body {
  min-height: 1vw; /* forces a repaint that actually makes this stuff work. */
  font-size:16px;
  font-size: var(--f-0);
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  @include typeface-inter;
  background-color: var(--color-background);
}


/* T-shirt sizes */
/* included from littel sizes. */
// --space-3xs
// --space-2xs
// --space-xs
// --space-s
// --space-m
// --space-l
// --space-xl
// --space-2xl
// --space-3xl
