/**
    Content
*/

/// content
///
/// The content element contains styled content straight from the koenig editor.
/// content is responsive, accepts HTML, and styles elements that are DIRECT
/// descendants of <content> This keeps the general styles from being polutted
/// with generated markup styles.


:root {
    --element-spacing: 1em;
    --text-size: 1.171875rem;
}

/// elements are given a padding at their top.
/// This gives sub elements control of how close they can be to parent content
/// and headings.

content {
    & > h1, & > h2, & > h3, & > h4, & > h5 {
        margin-top: var(--text-line-height);
        max-width: var(--measure-wide);
        width: 100%;
    }

    & > p {
        font-family: var(--font-family);
        font-size: var(--text-size);
        margin-top: var(--text-line-height);
        max-width: var(--measure-wide);
        font-weight: 400;
        width: 100%;
    }

    & > figure {
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            margin-top: var(--space-m);
            margin-bottom: var(--space-m);
        }
    }

    hr {
        border: 2px solid var(--text-color);
        margin-top: var(--space-l);
        margin-bottom: var(--space-l);
    }

    /* koenig stuff for Ghost */
    .kg-width-wide {
        max-width: 60rem;
        width: 100%;
    }
    .kg-width-full {
        max-width: 100%;
        width: 100%;
    }
}
